html, body {
  height: 100%;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}

footer {
  margin-top: 25px;
  text-align: center;
  padding: 1rem 0;
  background-color: #f8f9fa;
}

.book-cover {
  width: 100px;
  height: auto;
  margin-left: 15px;
}
